form {
  display: flex;
  justify-content: space-between;
}

input {
  margin: 10px;
  height: 35px;
  width: 25%;
  font-size: 1.2em;
  padding: 5px;
}

.resy-btn {
  background-color: teal;
  color: white;
  width: 250px;
  height: 50px;
  margin-top: 10px;
  font-size: 1.2em;
}

.resy-btn:hover {
  cursor: pointer;
  background-color: rgb(3, 104, 104);
}

.resy-btn:active {
  transform: scale(.97);
}

.error {
  border: 2px solid red;
}


